<div class="rounded-md drop-shadow-md p-4 mr-4 bg-slate-200">
  <h2 class="pb-2 text-4xl">{{ title }}</h2>
  <table class="table-auto">
    <thead>
    <tr>
      <th>Item</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of items">
          <th>{{ item | titlecase }}</th>
          <td><button type="button" class="bg-green-500 hover:bg-green-600 text-white px-3 py-1 rounded-full" (click)="addToCart(item)">Add</button></td>
        </tr>
    </tbody>
  </table>
</div>
