<div class="rounded-md drop-shadow-md p-4 bg-slate-200">
  <h2 class="pb-2 text-4xl">{{ title }}</h2>
  <table class="table-auto" *ngIf="items.length > 0">
    <thead>
    <tr>
      <th>Item</th>
      <th>Qty</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items">
      <th>{{ item.name | titlecase }}</th>
      <td>{{ item.quantity }}</td>
      <td>
        <button type="button" class="bg-red-500 hover:bg-red-600 text-white px-3 py-1 rounded-full" (click)="removeFromCart(item.name)">Remove 1</button>
        <button type="button" class="bg-red-500 hover:bg-red-600 text-white px-3 py-1 rounded-full ml-1" *ngIf="item.quantity > 1" (click)="removeFromCart(item.name, true)">Remove All</button>
      </td>
    </tr>
    </tbody>
  </table>
  <p *ngIf="items.length == 0">Your cart is empty!</p>
</div>
